
@charset "UTF-8";
 /* versão mobile first  */
 *{
    padding: 0px;
    margin: 0px;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
 }

 body, html{
    width: 100vw;
    height: 100vh;
 }
 body {
    background: url(imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;

 }
 main{
    background-color: rgba(255, 255, 255, 0.651);
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
 }
 h1{
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.532);
 }
img#phone{display: block; margin: auto;}
img#pc{display: none;}
img#tv{display: none;}
img#tablet{display: none;}
img#print{display: none;}
