@charset "UTF-8";

body{
    background-image:linear-gradient(to top, #6F81A6,#D5E5F2);
    background-attachment: fixed;
}
main{background-color: white;
    border-radius: 10px;
    box-shadow:5px 5px 10px #97b0e2;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #6F81A6;
    text-align: center;
    text-shadow: 1px 1px 2px #4e5b75 ;
}
h2 {
    color: #798d8c;
}
p{
    text-align: justify;
}