@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
padding: 0%;
margin: 0%; }
:root{
    --fonte-destaque: 'pacifico';
}
html, body {
    min-height: 100vh;
    background-color: rgb(214, 214, 214);
}
header{
    background-color: black;
     text-align:center;
     color: white;
     padding-top: 50px;
    }
header > h1 {
    font-variant: small-caps;
    font-size: 5vw;
}
header > p {
    padding: 30px;
}
header > p > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
header > p > a:hover{
    text-decoration: underline;
    color: white;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-destaque);
    font-size: 2.5vw;
}
section#coração{
    background-image: url(../img/cora.jpg);
    background-size:cover;
    background-attachment:fixed;

}
section#coração > p {
    position: relative;
    left: 60%;
}
section#calendario{
    background-image: url(../img/calen.jpg);
    background-size: cover;
    background-attachment:fixed;
}
section.normal{ 
    background-color: white;
}
section.imagem {
    background-color: rgb(34, 34, 34);
    color: white;

}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.664);
    max-width: auto;
    min-width: 250px;
    display: inline-block;
    padding: 15px;
    position: relative;
    left: 60%;
}
section>p{
    padding-bottom: 2em;
}
footer { 
    text-align: center;
}